<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Contact-Form-Clean.css"
</head>
<body>
    <div class="contact-clean">
        <form method="post" action = "/updateProfile">
            <H3 class="text-center">Update Profile</H3>
            <p style="margin-bottom: 3px;margin-top: -2px;">Name :</p>
            <div class="form-group">
                <input value="<%=user.name%>" class="form-control" type="text" name="name" placeholder="Name" style="margin-bottom: -18px;">
            </div>
            <br>
            <p style="margin-bottom: 3px;margin-top: -2px;">Age&nbsp;</p>
            <div class="form-group">
                <input value="<%=user.age%>" class="form-control" type="text" name="age" placeholder="Age" style="margin-bottom: -2px;">
            </div>

            <p style="margin-bottom: 3px;margin-top: -2px;">Gender</p>
            <select name = "gender" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="NotToSay">Prefer Not To Say</option>
            </select>
            <br>

            <p style="margin-bottom: 3px;margin-top: -2px;">Address&nbsp;</p>
            <div class="form-group">
                <input value="<%=user.address%>" class="form-control" type="text" name="address" placeholder="Address" style="margin-bottom: -2px;">
            </div>
            <br>

            <p style="margin-bottom: 3px;margin-top: -2px;">Contact No.&nbsp;</p>
            <div class="form-group">
                <input value="<%=user.contactNo%>" class="form-control" type="text" name="contactNo" placeholder="contactNo" style="margin-bottom: -2px;">
            </div>
  

            <p style="margin-bottom: 3px;margin-top: -2px;">Medical History:</p>
            &nbsp;&nbsp; <input name="medicalHistory" type = "checkbox"  value="Sight Disorder" checked>&nbsp; Sight Disorder <br>
            &nbsp;&nbsp; <input name="medicalHistory" type = "checkbox"  value="Speed Disorder">&nbsp; Speech Disorder <br>
            &nbsp;&nbsp; <input name="medicalHistory" type = "checkbox"  value="Hearing Disorder">&nbsp; Hearing Disorder <br>
            &nbsp;&nbsp; <input name="medicalHistory" type = "checkbox"  value="Alzheimer's">&nbsp; Alzheimer's <br>
            <br>

            <p style="margin-bottom: 3px;margin-top: -2px;">Blood Group</p>
            <select name = "bloodGroup" class="form-control">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B</option>
                <option value="O+">O+</option>
            </select>
            
            <br>
            <p style="margin-bottom: 3px;margin-top: -2px;">Family Doctor Name&nbsp;</p>
            <div class="form-group">
                <input value="<%=user.doctor%>" class="form-control" type="text" name="doctor" placeholder="Family DOctor Name" style="margin-bottom: -2px;">
            </div>
            
            <br>
            <p style="margin-bottom: 3px;margin-top: -2px;">Emergency Contact No.&nbsp;</p>
            <div class="form-group">
                <input value="<%=user.emergencyNo%>" class="form-control" type="text" name="emergencyNo" placeholder="Emergency Contact No." style="margin-bottom: -2px;">
            </div>

            <button class="btn btn-primary d-flex mx-auto" type="submit" style="margin-top: 49px;margin-bottom: -13px;border: none;">
                Update Your Information
            </button>
        </div>
    </form>
    </div>
<script src="/updateProfilePhoto.js"></script>    
</body>
</html>